@import url("https://fonts.googleapis.com/css?family=Varela+Round")

body
    margin: 0
    font-family: 'Varela Round', sans-serif

@media (min-width: 1200px)
    .container
        width: 1280px
        padding: 0

$primary-color: #ffffff

// HEADER

.container
    .jumbotron
        background-image: url("../images/jumbotron.png")
        background-size: cover
        padding-bottom: 25px
        border-radius: 0
        margin-bottom: 0

        .navbar-brand
            padding-top: 0

        .icons
            text-align: center
            padding: 0

            li
                display: inline-block

.navbar
    background-color: inherit
    border: 0

.slogan
    text-align: center
    padding: 15% 0

    h1
        color: $primary-color
        font-size: 36px
        font-weight: 700
        text-transform: uppercase

h2
    color: $primary-color
    font-size: 16px
    font-weight: 500

.navbar-collapse
  text-align: center

.navbar-nav
    display: inline-block
    float: none

.navbar-default
    .navbar-nav
        li
            padding: 15px 10px
            a
                color: $primary-color
                font-size: 16px
                text-transform: uppercase
                font-weight: 700

                &:hover
                    color: #16a085

                &:focus
                    color: $primary-color

.btn-menu
    color: $primary-color
    font-size: 12px
    font-weight: 700
    text-transform: uppercase
    width: 166px
    height: 49px
    border-radius: 3px
    background-color: #16a085
    margin-top: 20px

    &:hover
        background-color: #11846d
        text-decoration: none
        color: $primary-color

@media (max-width: 767px)
    .jumbotron
        .navbar-brand
            img
                display: none

// SECTION PHOTO

.photo-item
    background-color: #F5F6F7
    background-image: url("../images/6-layers.png")
    background-repeat: no-repeat
    background-position: 80% -20%

    .content
        padding: 10% 20%

p
    line-height: 30px
    font-weight: 300

    span
        font-weight: 700

h3
    font-size: 18px
    color: #16a085
    font-weight: 700
    text-transform: uppercase
    line-height: 20px
    padding-bottom: 20px

@media (max-width: 991px)
    .photo-item
        background-image: none

// SECTION DESIGN

.design

    .btn-menu
        display: block

.phone
    background-image: url("../images/phone.png")
    background-repeat: no-repeat
    background-position: 10% 140px
    padding: 10% 5% 5%

.arrow
    border: 0
    background-color: inherit
    margin-top: 10%

.fa-chevron-left, .fa-chevron-right
    font-size: 25px

.controllers
    padding-top: 25px

.owl-prev, .owl-next
    padding: 10px
    display: inline-block

@media (max-width: 991px)
    .phone
        background-image: none

    .owl-carousel
        text-align: center

    .phone
        text-align: center

        .btn-menu
            display: inline


// SECTION COMMUNITY

.community-content
    background-color: #F5F6F7

h4
    font-size: 18px
    color: #373737
    font-weight: 700
    text-transform: uppercase
    line-height: 20px
    padding: 20px 0

.community-item
    padding: 30%
    text-align: center

    p
        font-size: 12px
        line-height: 20px

.community-item-photo
    padding: 30% 0

@media (max-width: 1200px)
    .community-item-photo
        padding: 5% 0
        display: inline-block
        margin-left: 50%
        transform: translate(-50%, 0)

    .community-item
        padding: 5%

// SECTION SUBSCRIBE

.subscribe-item
    text-align: center
    background-image: url("../images/livello-3.png")
    padding: 20%

    h2
        margin-top: 0
        color: #fff
        font-weight: bold
        text-transform: uppercase
        padding: 20% 0 2% 0
        font-size: 22px

    input
        &::placeholder
            color: #373737
            text-transform: uppercase
            font-weight: bold

.form-control
    height: 49px

.btn-secondary
    height: 49px
    background-color: #16A085

.btn-secondary
    &:hover
        color: #fff

.fa-check
    font-size: 20px

// SECTION DOWNLOAD

.download
    h3
        color: #373737
        font-size: 20px

    h5
        color: #373737
        text-transform: uppercase
        font-size: 12px
        line-height: 24px
        padding: 0 20%

    span
        color: #fff
        text-transform: uppercase
        font-weight: bold
        font-size: 16px

    i
        color: #fff
        font-size: 27px
        position: absolute
        right: 8%

    .btn-success
        background-image: -webkit-linear-gradient(180deg, #16A085 15%, #1ABC9C 15%)
        width: 100%
        padding: 12px
        text-align: left

    .btn-success
        &:hover
            background-image: -webkit-linear-gradient(180deg, #1ABC9C 15%, #16A085 15%)
        &:focus
            border-color: #1ABC9C

    .download-content
        text-align: center
        padding: 7%
        background-color: #F5F6F7

    .download-item
        padding-bottom: 15px

// SECTION COPYRIGHT

.copyright
    h2
        color: #373737
        font-weight: bold

    span
        color: #16A085

.copyright-items
    padding-left: 10%
    background-image: url("../images/livello-4.png")
    background-repeat: no-repeat
    background-position: top 50% right 10%

@media (max-width: 767px)
    .copyright-items
        text-align: center
        padding: 0

        h4
            padding-bottom: 60px

    .copyright-items
        background-position: top 60% left 50%
